<header class="header">
  <img class="header__brand" src="../../../../assets/images/logo_full_color.svg" alt="Logo Wolox" />
  <nav class="header__navigator">
    <ul class="header__container-list">
      <li class="header__navigator--item">
        <a href="#hero">Inicio</a>
      </li>
      <li class="header__navigator--item">
        <a href="#benefits">Beneficios</a>
      </li>
      <li class="header__navigator--item">
        <button class="btn button-outline-primary" href="#">Login</button>
      </li>
    </ul>
  </nav>
</header>
<div class="bg-home" id="hero">

  <section class="hero">
    <h1 class="hero__title">
      Bienvenido a tu
      <br>
      <span class="title--interview">Entrevista Técnica en</span>
      <br>
      <span class="title--wolox">Wolox</span>
    </h1>
    <div class="hero__container--image">
      <img src="../../../../assets/images/Img Hero/Ic_ilustra_Hero@2x.png" alt="Hero Image">
    </div>
  </section>
</div>


<main class="information">
  <div class="information__container--social">
    <h2>
      <span class="social--numbers">350 + </span>
      <span class="social--names">Woloxers</span>
    </h2>
      <div class="social--conainer-twitter">
        <img src="../../../../assets/images/twitter.svg" width="25px" alt="Logo Twitter">
        <span class="nickname">@Wolox</span>
      </div>
      <button class="btn button-outline-secondary" (click)="redirectsExterns('https://twitter.com/Wolox')">Siguenos</button>
  </div>
  <div class="information__container--idea">
    <h2 class="idea--title">Trabajamos para
      <span class="idea-products">convetir </span>
      <span class="idea-ideas">ideas</span> en productos.
    </h2>
  </div>
</main>

<section class="benefits" id="benefits">
  <h3 class="benefits__title">Entre los beneficios que ofrecemos se encuentran ;)</h3>
  <div class="benefits__container--icons">
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-hour.svg" alt="Horario flexible">
      <p>Fexibilidad Horaria</p>
    </div>
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-home-office.svg" alt="Trabajo desde casa">
      <p>Home Office</p>
    </div>
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-workshops.svg" alt="Capacitaciones">
      <p>Capacitaciones y workshops</p>
    </div>
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-snacks.svg" alt="Bebitas y snacks">
      <p>Snacks, frutas y bebidas gratis</p>
    </div>
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-laptop.svg" alt="Semana Remota">
      <p>Semana Remota</p>
    </div>
    <div class="benefits__container-benefist-info">
      <img src="../../../../assets/images/icon-brain.svg" alt="Ultimas tecnologias">
      <p>Trabajar en ultimas tecnologías</p>
    </div>
  </div>
</section>

<footer class="footer">

  <div class="footer__container-information">
  <h3 class="footer__title">Gracias por <span class="footer__title-notacion">completar el ejercicio</span></h3>
  <h4 class="footer__subtitle">Te invitamos a ver más información</h4>
  <button class="btn button-primary" (click)="redirectsExterns('https://www.wolox.com.ar/')">Conocer más</button>
</div>

<img src="../../../../assets/images/logo-footer.svg" alt="Logo Wolox">

</footer>


