<div class="bg-list">
  <div class="container">

    <h1>Lista de tecnologías</h1>

    <div>
      <div>
        <input type="text" #name (keyup)="filterTechForName(name.value)">
      </div>

      <div>
        <select #typeTech (change)="filterTechsForType(typeTech.value)">
          <option [value]="'All'">Todas</option>
          <option [value]="'Mobile'">Mobile</option>
          <option [value]="'Front-End'">Front-End</option>
          <option [value]="'Back-End'">Back-End</option>
        </select>
      </div>

    </div>

    <div class="overflow-x">
      <table class="table">
          <thead class="table__thead">
              <tr class="table__tr">
                  <th class="table__th ">Nombre</th>
                  <th class="table__th">Año</th>
                  <th class="table__th">Creador</th>
                  <th class="table__th">Licencia</th>
                  <th class="table__th">Lenguaje</th>
                  <th class="table__th">Tipo</th>
                  <th class="table__th">Logo</th>
                  <th class="table__th">Favoritos</th>
              </tr>
          </thead>
          <tbody class="table__tbody">
              <tr class="table__tr" *ngFor="let tech of techs">
                  <td class="table__td">{{tech.tech}}</td>
                  <td class="table__td">{{tech.year}}</td>
                  <td class="table__td">{{tech.author }}</td>
                  <td class="table__td">{{tech.license}}</td>
                  <td class="table__td">{{tech.language}}</td>
                  <td class="table__td">{{tech.type}}</td>
                  <td class="table__td">
                    <img width="35px" height="35px" [src]="tech.logo" [alt]="tech.tech">
                  </td>
                  <td class="table__td">
                    <img (click)="likeAndAddTech(tech)" *ngIf="iconPresent(tech) === false" width="35px" height="35px" src="../../../../assets/images/fav.svg" alt="tecnologias" style="fill: red;">
                    <img (click)="likeAndAddTech(tech)" *ngIf="iconPresent(tech) === true" width="35px" height="35px" src="../../../../assets/images/fav-added.svg" alt="tecnologias" style="fill: red;">
                    <!-- <button (click)="likeAndAddTech(tech)">Add</button> -->
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
