@import '../../../../assets/theme/Variables.scss';

.register {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../../../assets/images/Backgrounds/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__brand {
    position: absolute;
    top: 2rem;
    left: 2rem;
    img {
      width: 20rem;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form  {
  min-width: 32rem;
  max-width: 60rem;
  width: 90%;
  height: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    font-size: 3rem;
     margin-bottom: 2rem;
   }

   &__container-field {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 50%;

    label {
      font-size: 1.5rem;
      font-weight: 600;
      color: $black;
    }

    select,
    input[type=text],
    input[type=password] {
      height: 3.2rem;
      width: 90%;
      padding: 0 2rem;
      border: 1px solid #DEDEDE;
      font-size: 1.4rem;
      font-weight: 500;
      color: $black;
      background: transparent;
      outline: none;

      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      &:focus{
        box-shadow: none;
        border-color: $blue;
      }

      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
  }

  input::placeholder {
    color: $gray;
    font-size: 1.2rem;
  }
}


  &__container-check {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

.button-primary {
  margin-top: 2rem;
}

}

.text-danger {
  color: $red;
}

@media (max-width: 991px) {
  .form {
    &__container-field {
      flex: 100%;

      select,
      input[type=text],
      input[type=password] {
        width: 100%;
      }
    }
  }
}