@import './assets/theme/Buttons.scss';

@font-face {
  font-family: 'FireSans';
  src:  url(./assets/fonts/Fira_Sans/FiraSans-Bold.ttf)  format('truetype');
  src:  url(./assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf)  format('truetype');
  src:  url(./assets/fonts/Fira_Sans/FiraSans-Light.ttf)  format('truetype');
  src:  url(./assets/fonts/Fira_Sans/FiraSans-Medium.ttf)  format('truetype');
  src:  url(./assets/fonts/Fira_Sans/FiraSans-Light.ttf)  format('truetype');
  src:  url(./assets/fonts/Fira_Sans/FiraSans-Regular.ttf)  format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  font-family: 'FireSans', sans-serif;
}

@media (max-width: 991px) {
  html {
    font-size: 6px;
  }
}